.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
  color: black;
}

.light-mode {
  background-color: white;
  min-height: 100vh;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
  min-height: 100vh;
}

.dark-mode textarea {
  background-color: #1b1b1b;
  color: white;
  border: 1px solid #555;
}

.dark-mode textarea::placeholder {
  color: #aaa;
}

.dark-mode .form-check-label {
  color: white;
}
.dark-textarea {
  background-color: #1b1b1b !important;
  color: white !important;
}

.dark-textarea::placeholder {
  color: #aaa;
}